{{ define "main" }}
  <article>
    <h1>{{ .Title }}</h1>
    <ul class="posts-list">
      {{ range where .Paginator.Pages "Type" "!=" "page" }}
        <li class="posts-list-item">
          <a class="posts-list-item-title" href="{{ .Permalink }}">{{ .Title }}</a>
          <span class="posts-list-item-description">
            <div>
              {{ .Summary }}
              {{ if .Truncated }}
                <div class="read-more-link">
                  <a href="{{ .RelPermalink }}">Read More…</a>
                </div>
              {{ end }}
            </div>
            <div>
              {{ partial "icon.html" (dict "ctx" $ "name" "calendar") }}
              {{ .PublishDate.Format "Jan 2, 2006" }}
              -
              {{ partial "icon.html" (dict "ctx" $ "name" "clock") }}
              {{ .ReadingTime }} min read
            </div>
          </span>
        </li>
      {{ end }}
    </ul>
    {{ partial "pagination.html" $ }}
  </article>
{{ end }}